Progetto per ITS Arduino/flow_digiovanni.json
[{"id":"4ff0ed83.24ea84","type":"tab","label":"Arduino","disabled":false,"info":""},{"id":"33761519.018b5a","type":"mqtt in","z":"4ff0ed83.24ea84","name":"","topic":"#","qos":"0","datatype":"auto","broker":"2909a769.f5c5b8","x":450,"y":140,"wires":[["2ba64a64.8843f6"]]},{"id":"2ba64a64.8843f6","type":"debug","z":"4ff0ed83.24ea84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"d4eee998.a88618","type":"inject","z":"4ff0ed83.24ea84","name":"red","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"red","payloadType":"str","x":130,"y":260,"wires":[["d0b05460.206008"]]},{"id":"d0b05460.206008","type":"mqtt out","z":"4ff0ed83.24ea84","name":"","topic":"","qos":"","retain":"","broker":"2909a769.f5c5b8","x":550,"y":440,"wires":[]},{"id":"6a0570dd.4d989","type":"inject","z":"4ff0ed83.24ea84","name":"blue","props":[{"p":"payload","v":"blue","vt":"str"},{"p":"topic","v":"/controllo","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"blue","payloadType":"str","x":130,"y":220,"wires":[["d0b05460.206008"]]},{"id":"e444cef9.65639","type":"mosca in","z":"4ff0ed83.24ea84","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"test","password":"test","dburl":"","x":110,"y":180,"wires":[[]]},{"id":"be042fc8.7976","type":"inject","z":"4ff0ed83.24ea84","name":"green","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"green","payloadType":"str","x":130,"y":300,"wires":[["d0b05460.206008"]]},{"id":"aa7239f.36519c8","type":"inject","z":"4ff0ed83.24ea84","name":"white","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"white","payloadType":"str","x":130,"y":340,"wires":[["d0b05460.206008"]]},{"id":"d42ae881.4313f8","type":"inject","z":"4ff0ed83.24ea84","name":"off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/controllo","payload":"off","payloadType":"str","x":130,"y":380,"wires":[["d0b05460.206008"]]},{"id":"ef25258.bd0c9d8","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":1,"width":0,"height":0,"passthru":false,"label":"red","tooltip":"","color":"red","bgcolor":"red","icon":"","payload":"red","payloadType":"str","topic":"/controllo","x":230,"y":600,"wires":[["d0b05460.206008"]]},{"id":"9dc8657a.29c078","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":2,"width":0,"height":0,"passthru":false,"label":"blue","tooltip":"","color":"blue","bgcolor":"blue","icon":"","payload":"blue","payloadType":"str","topic":"/controllo","x":230,"y":640,"wires":[["d0b05460.206008"]]},{"id":"814fec25.69d57","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"6ae34c92.86e574","order":3,"width":0,"height":0,"passthru":false,"label":"green","tooltip":"","color":"lime","bgcolor":"lime","icon":"","payload":"green","payloadType":"str","topic":"/controllo","x":230,"y":680,"wires":[["d0b05460.206008"]]},{"id":"f68523d4.0ec4b","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"b1516661.29ee28","order":1,"width":0,"height":0,"passthru":false,"label":"ON (bianco)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"white","payloadType":"str","topic":"/controllo","x":890,"y":680,"wires":[["d0b05460.206008"]]},{"id":"13eec9b6.405586","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"b1516661.29ee28","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"/controllo","x":870,"y":720,"wires":[["d0b05460.206008"]]},{"id":"4d1a23ce.a8bd3c","type":"ui_colour_picker","z":"4ff0ed83.24ea84","name":"","label":"Scegli un colore","group":"b8dc5f01.18f6c","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"true","order":1,"width":0,"height":0,"passthru":true,"topic":"/controllo","x":220,"y":740,"wires":[["2d379ae3.5eeb96","d0b05460.206008"]]},{"id":"2d379ae3.5eeb96","type":"debug","z":"4ff0ed83.24ea84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":840,"wires":[]},{"id":"19d0f213.daf21e","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"b1516661.29ee28","order":2,"width":0,"height":0,"passthru":false,"label":"Luminosità +","tooltip":"","color":"","bgcolor":"","icon":"","payload":"incrbr","payloadType":"str","topic":"/controllo","x":890,"y":760,"wires":[["d0b05460.206008"]]},{"id":"44dba3cb.30b9dc","type":"ui_button","z":"4ff0ed83.24ea84","name":"","group":"b1516661.29ee28","order":2,"width":0,"height":0,"passthru":false,"label":"Luminosità -","tooltip":"","color":"","bgcolor":"","icon":"","payload":"redbr","payloadType":"str","topic":"/controllo","x":890,"y":800,"wires":[["d0b05460.206008"]]},{"id":"2909a769.f5c5b8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ae34c92.86e574","type":"ui_group","z":"","name":"Colori predefiniti","tab":"4895a066.8596","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1516661.29ee28","type":"ui_group","z":"","name":"Controlli luce","tab":"4895a066.8596","order":3,"disp":true,"width":"6","collapse":false},{"id":"b8dc5f01.18f6c","type":"ui_group","z":"","name":"Colore personalizzato","tab":"4895a066.8596","order":2,"disp":true,"width":"6","collapse":false},{"id":"4895a066.8596","type":"ui_tab","z":"","name":"Progettino","icon":"dashboard","order":5,"disabled":false,"hidden":false}]